<div class="container mt-4">
  <h1 class="mb-3">Add Book</h1>
  <form (submit)="handleFetchBookData($event)">
    <input
      type="text"
      class="form-control"
      placeholder="ISBN"
      [formControl]="isbn"
      minlength="13"
      maxlength="13"
    />
  </form>
</div>

<div class="container mt-4">
  @if(loading) {
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  } @if(error) {
  <div class="alert alert-danger shadow-sm" role="alert">
    {{ error }}
  </div>
  }
</div>

<!-- Render Book Info -->
@if(bookInfo) {
<div class="container mt-5">
  <img
    src="{{ bookCoverImgUrl }}"
    alt="cover"
    srcset=""
    height="224"
    width="180"
  />
  <p class="fw-semibold mb-0 mt-3">
    {{ bookInfo.title }}
  </p>
  <p class="fw-normal text-body-secondary">
    {{ bookInfo.subtitle }}
  </p>
  @if (!authorInfo) {
  <p aria-hidden="true" class="placeholder-glow">
    <span class="placeholder col-6"></span>
  </p>
  } @else {
  <p><i class="bi bi-person-fill"></i> {{ authorInfo.name }}</p>
  } 
  <!-- Add Book to Library -->
  @if(!isBookInLibrary){<button
    class="btn btn-primary mt-2"
    (click)="handleAddToLibrary()"
  >
    <i class="bi bi-plus-lg me-1"></i>Add To Library</button
  >}
</div>
}
