<div class="container mt-4">
  @if (bookDetails) {
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <p class="fw-semibold m-0 p-0">
        {{ bookDetails.title }}
      </p>
      <p class="fw-normal text-body-secondary m-0 p-0">
        {{ bookDetails.subtitle }}
      </p>
    </div>

    <div class="">
      <button class="btn btn-warning me-2" (click)="handleFavoriteBook()">
        <i class="bi bi-star{{ bookDetails.isFavorite ? '-fill' : '' }}"></i>
      </button>
      <button class="btn btn-danger" (click)="handleDeleteBook()">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
  <section class="my-4">
    <img
      src="{{ bookDetails.coverUrl }}"
      alt="cover"
      srcset=""
      height="224"
      width="180"
    />
    <p class="mt-4"><strong>Added:&nbsp;</strong>{{ bookDetails.addedDate }}</p>
    <p><strong>Published:&nbsp;</strong>{{ bookDetails.publishDate }}</p>
  </section>
  } @else {
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Book Not Found!</h4>
    <p>
      The book with ISBN <strong>{{ isbn }}</strong> does not exist in your
      library.
    </p>
    <hr />
    <div class="d-flex gap-3 align-items-center">
      <a href="/search?isbn={{ isbn }}" class="btn btn-warning"> Search ISBN</a>
      <a href="/" class="alert-link">Back to Library </a>
    </div>
  </div>
  }
</div>
